# Virtual environment
env/
*.pyc
__pycache__/

# Streamlit and Python cache
*.pyo
*.pyd
*.sqlite3

# Ignore assets folder (screenshots, GIFs)
assets/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
